@import "./colors.scss";

.header-main {
  background-color: $car2goBlue;
  padding: 10px;
  color: white;
  
  border-bottom: 1px solid lightgray;
  height: 60px;
}

.right-title{
  text-shadow: 1px 1px 4px black;
}

p.more {
  cursor: pointer;
  color: $car2goDarkBlue;
  text-decoration: none;
  background-color: transparent;
  font-weight: bold;
}
p {
  margin-bottom: 6px;
  margin-top: 6px;
}
.header {
  span {
    margin-right: 1em;
  }
}

.right-title{

}

.wrapper-main {
  border-right: 1px solid $car2goBlue;
}
.wrapper {
  height: 300px;
  overflow: auto;
  overflow-x: hidden;

  .carswrapper {
    border-bottom: 1px solid $car2goBlue;
    padding-top: 10px;
    padding-left: 10px;
    background-color: #d4f3ff;
  }

  /* .carswrapper:nth-child(even) {
    background-color: #ecf7ff
} */
}
.center {
  margin: 0 0 0 20px;
  svg {
    margin-right: 0.5em;
  }
}

.row {
  display: flex;
  padding: 0px 0px 10px 0;
}

.column-left {
  flex: 8%;
}

span.green {
  background: $green;
}
span.red {
  background: red;
}
.available {
  margin-bottom: 0;
}
.column-left{
  img{
    margin-right: 20px;
  }
}
.column-right {
  flex: 92%;
  p {
    margin-bottom: 6px;
  }
  .available {
    margin-top: 9px;
  }
  span.pattern{
    margin-right: 10px;
    margin-top: 15px;
  }
}

@media (max-width: 620px) {
    .column-right{
      span.pattern{
        margin-top: 0px;
      }
    }
    .component-wrapper {
      zoom: 0.8;
  }
    .wrapper{
      height: 420px;
    }
  }

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.bold {
  font-weight: bold;
}
.explain {
  padding-top: 10px;
  padding-left: 10px;
  background-color: $car2goBlue;
  border-top: 1px solid lightgray;

  zoom: 0.8;
  .column-left p {
  }
  .column-right p {
    margin-top: 10px;
    margin-bottom: 12px;
    color: white;
  }
  /* @media (max-width: 500px) {
    .column-left p {
      margin-bottom: 26px;
      margin-top: 10px;
    }
  } */
}
.marker-car2 {
  background: blue;
}

.map-pin-img{
  cursor: pointer;
}
