@import "./colors.scss";

.car2go::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}
.car2go::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: $car2goBlue;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  height: 40px;
}

.header-main {
  background-color: $car2goBlue;
  padding: 10px 0 0 0;
  color: white;
  text-shadow: 1px 1px black;
  border-bottom: 1px solid lightgray;
  .fa-car {
    -webkit-filter: drop-shadow(1px 1px rgba(0, 0, 0, 1));
    filter: drop-shadow(1px 1px rgba(0, 0, 0, 1));
  }
}

p.more {
  cursor: pointer;
  color: $car2goBlue;
  text-decoration: none;
  background-color: transparent;
  font-weight: bold;
}
p {
  margin-bottom: 6px;
  margin-top: 6px;
}
.header {
  span {
    margin-right: 1em;
  }
}

.wrapper-main {
  border-right: 1px solid lightgray;
}
.wrapper {
  height: 300px;
  overflow: auto;
  overflow-x: hidden;

  .carswrapper {
    border-bottom: 1px solid lightgray;
    padding-top: 10px;
    background-color: #d4f3ff;
  }

  /* .carswrapper:nth-child(even) {
    background-color: #ecf7ff
} */
}
.center {
  margin: 0 0 0 20px;
  svg {
    margin-right: 0.5em;
  }
}

.row {
  display: flex;
  padding: 0px 0px 10px 0;
}

.column-left {
  flex: 8%;
}

span.pattern {
  background: black;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  text-align: center;
  width: 3em;
  margin-left: 1em;
  margin-right: 1em;
}

span.green {
  background: green;
}
span.red {
  background: red;
}
.available {
  margin-bottom: 0;
}
.column-right {
  flex: 92%;
  p {
    margin-bottom: 6px;
  }
  .available {
    margin-top: 9px;
  }
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.bold {
  font-weight: bold;
}
.explain {
  padding-top: 10px;
  background-color: #c7c7c7;
  border-top: 1px solid lightgray;
  opacity: 0.5;
  zoom: 0.8;
  .column-left p {
  }
  .column-right p {
    margin-top: 10px;
    margin-bottom: 12px;
  }
  /* @media (max-width: 500px) {
    .column-left p {
      margin-bottom: 26px;
      margin-top: 10px;
    }
  } */
}
.marker-car2 {
  background: blue;
}
