@import "./colors.scss";
.pattern {
  @include pattern-style
}

.map-pin-wrapper {
  display: flex;
  p {
    margin-left: 8px;
  }
}

.map-class > div{
    top: 480px;
}

.map-class div div{


}
 @media (max-width: 560px) {
    .map-class > div{
    top: 480px;
}
.map-class > div > div{
    width: 100%;
}
  }